#!/usr/bin/env bash

# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# vim
alias v="nvim"
alias vi="nvim"
alias vim="nvim"

# gitui
alias gui='gitui'

# Git
alias g='git'

# Git Branch
alias gb='git branch'
alias gbD='git branch --delete --force'

# Git Commit
alias gc='git commit --verbose'
alias gco='git checkout'

# Git Fetch
alias gf='git fetch'
alias gfa='git fetch --all'
alias gfm='git pull'

# Git Index
alias ga='git add'

# Git Log
alias gl='git log --graph --date-order --all --date=format:'\''%m/%d %H:%M'\'' --pretty=format:'\''%C(cyan)%h %C(yellow)%cn %Creset%cd%Cred%d%n%B'\'
alias gll='git log --oneline --decorate --graph'

# Git Merge
alias gmF='git merge --no-ff'

# Git Push
alias gpc='git push --set-upstream origin "$(git branch --show-current)"'

# Git Working Copy
alias gws='git status --short'

# ls, eza
alias ls="eza"
alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"

alias fgcpl="gcloud config configurations list"
alias fgcp="
  gcloud config configurations list \
    | awk '{ print \$1,\$3,\$4 }' \
    | column -t \
    | fzf --header-lines=1 \
    | awk '{ print \$1 }' \
    | xargs -r gcloud config configurations activate
"

alias d="docker"
alias dc="docker-compose"
alias dcb="docker-compose build"
alias dcd="docker-compose down"
alias dcr="docker-compose restart"

alias cat="bat"

alias k="kubectl"
