#!/usr/bin/env bash

# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# vim
alias v="nvim"
alias vi="nvim"
alias vim="nvim"

# Git
alias g='git'

# Git Branch
alias gb='git branch'

# Git Commit
alias gc='git commit --verbose'

# Git Fetch
alias gfa='git fetch --all'
alias gfm='git pull'

# Git Index
alias ga='git add'

# Git Log
alias gl='git log --graph --date-order --all --date=format:'\''%m/%d %H:%M'\'' --pretty=format:'\''%C(cyan)%h %C(yellow)%cn %Creset%cd%Cred%d%n%B'\'
alias gll='git log --oneline --decorate --graph'

# Git Merge
alias gmF='git merge --no-ff'

# Git Push
alias gpc='git push --set-upstream origin "$(git branch --show-current)"'

# Git Working Copy
alias gws='git status --short'

# ls, exa
alias e='exa --icons --git'
alias l=e
alias ls=e
alias ea='exa -a --icons --git'
alias la=ea
alias ee='exa -aahl --icons --git'
alias ll=ee
alias et='exa -T -L 3 -a -I "node_modules|.git|.cache" --icons'
alias lt=et
alias eta='exa -T -a -I "node_modules|.git|.cache" --color=always --icons | less -r'
alias lta=eta
